<html>
    <head>
        <title>
            Assignment2
        </title>
        <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
        <script src="/assets/bbb.js"></script>
    </head>
    <body>
        <h2>
            Retrieval
        </h2>
        <div id="detailsr">
            <form>
                Enter Email :<input type="email" id="12" name="Email" placeholder="Enter email..." required /><br/>
                <button type="submit">Search</button>
            </form>
        </div>
    </body>
</html>